<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="BexBaseUrl" value="https://mrameu1-w00008.am.munichre.com/bex" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UwpfTokenUrl" value="https://uwpfapidev.munich.munichre.com:11888/Security/v1/token" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="KeyDataBaseUrl" value="https://uwpfapidev.munich.munichre.com:11888/KeyData/v1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SecretWord" value="869ef252-fbd4-4873-9a2f-6a981519ff25" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/></appSettings>
</configuration>