<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="BexBaseUrl" value="https://mrameu1-w00009.am.munichre.com/bex" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UwpfTokenUrl" value="https://uwpfapi.munich.munichre.com:8888/Security/v1/token" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="KeyDataBaseUrl" value="https://uwpfapi.munich.munichre.com:8888/KeyData/v1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SecretWord" value="969d2a61-7e1e-44ee-acee-3f3a2ef66231" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>