<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="BexBaseUrl" value="http://localhost/bex"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UwpfTokenUrl" value="https://UwpfApiDevExt-1.munichre.com:36888/Security/v1/token" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="KeyDataBaseUrl" value="https://UwpfApiDevExt-1.munichre.com:36888/keydata/v1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SecretWord" value="7d57edbf-0c62-44d6-9842-03b53ebdcb88" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>